@import './colors.scss';

#colors-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  .colors {
    height: 100%;
    width: 20%;
    border: 1px solid black;
    .colors-top-section {
      height: 70%;
    }
    .colors-bottom-section {
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .hex-colors {
        font-size: 20px;
        margin: 0px 0px 20px 0px;
        color: $hextextcolor;
        opacity: 0.9;
      }
      .lock-button {
        background-image: url(../assets/padlock.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 40px;
        width: 40px;
        background-color: inherit;
        border-width: 0px;
      }
      .locked {
        background-image: url(../assets/padlock-active.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 40px;
        width: 40px;
        background-color: inherit;
        border-width: 0px;
      }
      .lock-button:hover {
        background-image: url(../assets/padlock-active.svg);
        cursor: pointer;
      }
      .lock-button:focus {
        outline: inherit;
      }
    }
  }
}
